<div class="card border-4 mr-5" style="width:20rem; display: flex; flex-direction: column; height: 100%;">
  <img  [src]="postFile" class="card-img-top" alt="..." />

  <div class="card-body" style="flex-shrink: 0;">
    <h6 class="card-title fs-6 text-nowrap fw-bold mb-1">
      <i class="fa-solid fa-club"></i>&nbsp;{{post.createdDate | date: 'mediumDate'}}
    </h6>
    <hr />
    <p class="card-text">{{post.description}}</p>
  </div>

  <div class="card-body overflow-auto" style="flex-grow: 1; max-height: 150px;">
    <div *ngFor="let comment of comments" class="comment mb-3 p-2 border rounded">
      <h6 class="fw-bold mb-1">
        <i class="fa-solid fa-user"></i> {{ comment.username }}
      </h6>
      <p class="mb-0">{{ comment.comment }}</p>
      <div class="text-end text-muted fs-6 mt-2 comment-date">
        <p style="font-size: 12px" class="fw-bold">{{ comment.createdDate | date: 'mediumDate' }}</p>
      </div>
    </div>
  </div>

  <div class="card-footer d-flex gap-2 justify-content-between align-items-center"
       style="position: sticky; bottom: 0; background-color: white;">
    <input [(ngModel)]="request.comment" type="text" class="comment-input" placeholder="Add a comment..." />
    <button class="send-button" (click)="saveComment(post.id)">
      <i class="fa-solid fa-paper-plane"></i>
    </button>
  </div>
</div>
