.goal-title {
  margin-bottom: 20px; /* Space between title and description */
}

.goal-description {
  margin-bottom: 10px; /* Space between description and buttons */
}

.actions {
  margin-top: 20px; /* Space between description and actions */
}

.add-button {
  margin-top: 30px; /* Space between the last goal and the 'Add New Goal' button */
}

