<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Health Goals</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <div class="row">
        <div *ngIf="isLoading" class="loading">Loading goals...</div>
        <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
        <ul *ngIf="predefinedHealthGoals.length > 0">
          <li *ngFor="let goal of predefinedHealthGoals" class="goal-item">
            <span matListItemTitle class="f-s-16 f-w-600">{{ goal.title }}</span>
            <span matListItemLine class="mat-body-1">{{ goal.description }}</span>
            <div class="actions">
              <button mat-flat-button
                      color="primary"
                      matTooltip="Info about the action" [routerLink]="['/admin/predefined-health-goals/edit', goal.id]">Edit</button>
              <button mat-flat-button
                      color="primary"
                      matTooltip="Info about the action" (click)="deletePredefinedHealthGoal(goal.id)">Delete</button>
            </div>
          </li>
        </ul>
        <p *ngIf="!isLoading && predefinedHealthGoals.length === 0">No predefined health goals found.</p>
  </div>
    <button mat-raised-button color="primary" routerLink="/healthGoals/admin/predefined-health-goals/create" class="add-button">Add New Goal</button>
  </mat-card-content>
</mat-card>
