<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title>Add a new Health Goals</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="predefinedHealthGoalForm" (ngSubmit)="submitForm()">
      <div class="row">
        <!-- Title Input -->
        <div class="col-lg-6">
          <mat-label class="f-w-600 m-b-8 d-block">Title</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput placeholder="Enter title" formControlName="title" />
          </mat-form-field>
          <div *ngIf="predefinedHealthGoalForm.get('title')?.invalid && predefinedHealthGoalForm.get('title')?.touched" class="error-text">
            Title is required.
          </div>
        </div>

        <!-- Description Input -->
        <div class="col-lg-12">
          <mat-label class="f-w-600 m-b-8 d-block">Description</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <textarea matInput placeholder="Enter description" formControlName="description"></textarea>
          </mat-form-field>
          <div *ngIf="predefinedHealthGoalForm.get('description')?.invalid && predefinedHealthGoalForm.get('description')?.touched" class="error-text">
            Description is required.
          </div>
        </div>
      </div>

      <!-- Action Buttons -->
      <div class="m-t-12">
        <button mat-flat-button color="primary" [disabled]="predefinedHealthGoalForm.invalid">
          {{ isEditing ? 'Update' : 'Create' }}
        </button>
        <button mat-stroked-button color="warn" type="button" (click)="router.navigate(['/healthGoals/admin/predefined-health-goals'])">
          Cancel
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>

